
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 0px !important;
}

.lang-change {
  text-align: end;
  margin: 5px 50px;
  min-width: 0 !important;
}

.ar-lang .MuiButton-label {
  /* font-family: 'Almarai', sans-serif; */
  font-family: 'Changa', sans-serif;
  font-size: 14px;
}

.active {
  color: #ff5722 !important;
}

.app__dropdown {
  background-color: #ffffff;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  color: crimson;
}
/* 
.author {
  padding: 0;
  margin: 0 0 10px 2px;
}

.last__update {
  box-sizing:border-box;
color:rgba(0, 0, 0, 0.54);
display:block;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-size:11.2px;
font-weight:700;
height:16px;
letter-spacing:0.105056px;
line-height:16.8px;
text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
} */
#footer {
  z-index: 1;
  border-top: dashed 1px #dfdfdf;
  padding: 1em 0em 1em 0em;
  margin: 0.5em 1em 0em 1em;
  text-align: center;
  font-size: 1.3em;
  color: #9E9E9E;
  font-family: 'Sriracha', cursive;
  font-weight:400;
}

.app__status {
  display: flex;
  justify-content: space-between;
}

.app__rigth {
  display: flex;
  flex-direction: column;
}

.app__rigth .MuiCardContent-root {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px){
  .app {
    flex-direction: column;
  }
  
}
